<!DOCTYPE html>
<html lang="zh" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title><?=$site_title?> <?=$version?></title>
    <meta name="viewport" content="user-scalable=0">
    <link rel="icon" type="image/png" href="/static/logo_mini.png">
    <meta http-equiv="Cache-Control" content="max-age=86400"/>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/vue-v2.6.11.js"></script>
    <script src="/static/vue-resource-1.5.1.min.js"></script>
</head>
<body>
<div id="wrapper" v-cloak>
    <div id="header">
        <div class="left">
            <span><h1><?=$site_title?></h1></span>
        </div>
        <div class="right">
            服务IP:<span><?=$local_ip?></span> <span v-if="message != ''">{{message}}</span>
        </div>
    </div>
    <hr>
    <div>
        <div class="status_msg" v-if="tips!=''">{{responseTime}} - {{tips}}</div>
        <ul class="clr" id="buttons">
            <div class="left">
                <li id="restart_all">
                    <button v-on:click="restartall">全部重启</button>
                </li>
                <li id="stop_all">
                    <button v-on:click="stopall">全部停止</button>
                </li>
            </div>
            <div class="right">
                <li>
                    <label>
                        <select v-on:change="selectQuery" v-model="address">
                            <option v-for="(socket, addr) in socketList" v-bind:value="addr"
                                    v-bind:checked="address==addr">
                                {{ socket.name }}({{ addr }})
                            </option>
                        </select>
                    </label>
                </li>
                <li id="set">
                    <button v-on:click="set()">设置</button>
                </li>
            </div>
        </ul>
        <table cellspacing="1">
            <thead>
            <tr>
                <th class="name">名称</th>
                <th class="desc">描述</th>
                <th class="processnum">进程数</th>
                <th class="state">状态</th>
                <th class="action">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(process, name) in processList">
                <td><a href="javascript:void(0);" v-bind:title="process.cmd">{{name}}</a></td>
                <td>
                    <div class="process">
                        <span v-if="process.pids.length > 0" v-bind:title="process.pids">运行时长:{{timeToString(process.runtime)}}<br/>PID:{{process.pids}}</span>
                        <span v-else-if="process.pids.length === 0 && process.error_msg != ''">{{process.error_msg}}</span>
                        <span v-else-if="process.pids.length === 0 && process.stop_time !== 0">停止时间 {{timestampToString(process.stop_time)}}</span>
                        <span v-else="process.pids.length === 0 && !process.stop_time"> -- </span>
                    </div>
                </td>
                <td class="processnum">
                    <span>
                    <button v-if="process.pids.length > 0" v-bind:disabled="process.pids.length<=1"
                            v-on:click="minusOne(name)">-</button>
                     {{process.pids.length}}
                    <button v-if="process.pids.length > 0" v-bind:disabled="process.pids.length>=128"
                            v-on:click="plusOne(name)">+</button>
                    </span>
                </td>
                <td class="status">
                    <span class="statusrunning" v-if="process.pids.length > 0">运行</span>
                    <span class="statuserror" v-else-if="process.error_msg != ''">异常</span>
                    <span class="statusnominal" v-else="process.pids.length == 0">停止</span>
                </td>
                <td class="action">
                    <ul>
                        <li v-if="process.pids.length > 0">
                            <a href="javascript:void(0);" v-on:click="restart(name)">重启</a>
                        </li>
                        <li v-if="process.pids.length > 0">
                            <a href="javascript:void(0);" v-on:click="stop(name)">停止</a>
                        </li>
                        <li v-if="process.pids.length == 0">
                            <a href="javascript:void(0);" v-on:click="start(name)">启动</a>
                        </li>
                        <li v-if="process.pids.length == 0">
                            <a href="javascript:void(0);" v-on:click="del(name)">删除</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" v-on:click="clearLog(name)">清除日志</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" v-on:click="tail(name)">查看日志</a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <hr>
        <table class="addprocess" cellspacing="1">
            <tr>
                <th class="name">
                    名称
                </th>
                <th class="cmd">命令</th>
                <th class="number">进程数</th>
                <th>自启</th>
                <th>操作</th>
            </tr>
            <tr>
                <td class="name">
                    <label>
                        <input type="text" v-model='add.name' class="input-text"
                               onkeyup="value=value.replace(/[^\w]/ig,'')"
                               maxlength=32/>
                    </label>
                </td>
                <td class="cmd">
                    <label>
                        <input type="text" v-model='add.cmd' class="input-text"
                               onkeyup="value=value.replace(/[^\w\.\/\s\'-]/ig,'')"
                               maxlength=128/>
                    </label></td>
                <td class="number">
                    <label>
                        <input class="input-text" v-model='add.count' onkeyup="this.value=this.value.replace(/\D/g,'')"
                               onchange="this.value=this.value.replace(/\D/g,'')" maxlength="2">
                    </label></td>
                <td>
                    <label>
                        <input type="radio" v-model='add.autostart' checked value="1"/>
                    </label>开
                    <label>
                        <input type="radio" v-model='add.autostart' value="0"/>
                    </label>关
                </td>
                <td>
                    <button v-on:click="addProcess">添加</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="clr" id="footer">
    <div class="left">
        <a href="https://github.com/php-pmd/pmd" target="_blank"><?=$site_title?> <?=$version?></a>, Theme by
        supervisor.
    </div>
    <div class="right">
        <strong>Copyright © <a href="https://github.com/imparting" target="_blank">Imparting</a> All rights
            reserved</strong>
    </div>
</div>
<script src="/static/index.js"></script>
</body>
</html>